body {
  color: #000;
  background-color: #EEEEEE;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.portfolio-image-placeholder {
  height: 200px !important;
  padding: 0 !important;
  img {
    height: 200px !important;
  }
}
.skill-icons {
  display: inline-block;
  width: 48px !important;
  height: 48px !important;
  padding: 10 !important;
  img {
    height: 48px !important;
    width: 48px !important;
  }
}
.action-icons {
  display: inline-block;
  width: 36px !important;
  height: 36px !important;
  padding: 5 !important;
  img {
    height: 36px !important;
    width: 36px !important;
  }
}
